*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(48, 0, 64);
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: rgb(192, 192, 192);
  font-size: 12px;
  background: rgb(14, 14, 14);
  padding: 4px 8px;
  border-radius: 4px;
}

p{
  color: #33ffeb;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
  color: #33ffeb;
}

h2{
  font-size: 12px;
}

a{
  text-decoration: none;
}